<div id="user-delete-dialog" class="form">
	<h2>Delete user</h2>
	<p>
		This action cannot be undone. Are you sure you want to delete
		{{ user && user.username ? 'the user ' + user.username : 'this user' }}?
	</p>
	<dm-spinner name='delete-user' [show]="usersService.loading$ | async"></dm-spinner>
	<dm-banner *ngIf="usersService.errors$ | async as errors" appearance="error">{{ errors }}</dm-banner>
	<dm-banner *ngIf="usersService.serverResponse$ | async" appearance="success">
		<span>User has been deleted.</span>
	</dm-banner>
	<div class="form__actions">
		<dm-button-group justify="right">
			<dm-button btnId="edit-org-modal-cancel" (onClick)="usersService.deleteModalClose()">Close</dm-button>
			<dm-button appearance="warning" btnId="delete-org-modal-submit" (onClick)="confirmDelete()"
				>Delete</dm-button
			>
		</dm-button-group>
	</div>
</div>
