@import 'src/app/shared/styles/variables/variables';
@import 'src/app/shared/styles/functions/functions';


.alerts-dashboard {
	&__container {
		display: flex;
		flex-direction: column;
	}
	&__reviews, &__closed {
		flex: 1 1 50%;
		margin: $spacing-sm 0;
	}
	&__header-container {
		display: flex;
		border-bottom: 2px solid $mist;
		margin: 0 $spacing-md;
	}
	&__header {
		//color: $shade;
		flex: 1 1 50%;
		display: flex;
		align-items: center;
		padding: 0 $spacing-sm;
	}
	&__icon {
		width: rem(24);
		height: rem(24);
		display: block;
		margin-right: $spacing-sm;
	}
	&__list-container {
		max-height: 300px;
		overflow: hidden;
		overflow-y: auto;

		&::-webkit-scrollbar {
			width: rem(8);
			padding: 2px;
		}
		&::-webkit-scrollbar-track {
			background: white;
			box-shadow: inset 1px 0 8px rgba(0, 0, 0, 0.03);
		}
		&::-webkit-scrollbar-thumb {
			background: $mist-dark;
			border-radius: rem(6);
			margin: 0 4px;
		}
	}
	&__list {
		list-style: none;
		padding: 0;
		margin: 0 $spacing-md;
	}
	&__item {
		font-size: rem(15);
		line-height: $line-height-15;
		padding: $spacing-sm;
		display: flex;
		& + & {
			border-top: 1px solid $mist-light;
		}
	}
	&__id {
		flex-shrink: 0;
		flex-basis: 3.5rem;
		margin-right: $spacing-md;
	}
	&__title {
		flex-grow: 1;
		font-weight: $font-weight-semibold;
	}
	&__severity {
		flex-shrink: 0;
	}
	&__button {
		display: flex;
		align-items: center;
		padding-left: $spacing-sm;
		padding-bottom: $spacing-sm;
	}
	&__skeleton {
		display: flex;
		flex: 1 1 50%;
		margin-bottom: $spacing-md * 2;
		padding-top: rem(10);
		padding-bottom: rem(2);
		padding-left: $spacing-md;
	}
	&__skeleton-left {
		@include skeleton(1, 14px, 10px, lighten($mist, 4), rgba(255, 255, 255, 0.6), 3s, rem(30));
		margin-right: $spacing-md;
	}
	&__skeleton-right {
		@include skeleton(3, 14px, 12px, lighten($mist, 4), rgba(255, 255, 255, 0.6), 3s, 60%);
	}
}


@include bp($tablet) {
	.alerts-dashboard {
		&__container {
			flex-direction: row;
		}
		&__closed {
			padding-top: 0;
		}
		&__reviews {
			border-right:  2px solid $mist-light;
			border-radius: 1px;
		}
		&__button {
			margin-left:  auto;
			padding-bottom: 0;
		}
		&__header-container {
			flex-direction: row;
		}
	}
}

.button {
	flex-wrap:  nowrap !important;
}
