//
// __SR-LINKS.scss
//
// Helper classes to visually hide text but keep it accessible for screen-readers.

.sr-shortcut {
	position: absolute;
	top: -1000em;
	&:focus {
		left: rem(32);
		top: rem(32);
		display: block;
		font-size: rem(14);
		padding: $spacing-md;
		background: white;
		z-index: 100000;
		line-height: normal;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
		text-decoration: none;
		outline: $accessibility-outline;
		outline-offset: $accessibility-offset;
	}
}
.sr-only {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important; // Fix for https://github.com/twbs/bootstrap/issues/25686
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}
