<div id="dm-user-menu" class="user-menu">
	<div class="user-menu__section">
		<dm-popover
			triggerAcessibilityLabel="Notifications"
			triggerLabel="{{ unreadCount }}"
			triggerIcon="notification"
			triggerButtonAppearance="toggle"
			identifier="notifications"
		>
			<ul *ngIf="notifications.length; else noNotifications" class="user-menu__list">
				<li *ngFor="let n of notifications" class="user-menu__item">
					<dm-notification
						[message]="n.message"
						[id]="n.disruptionId"
						[status]="n.status"
						[type]="n.type"
						[date]="n.sent"
						[duplicates]="n.duplicates"
						(onClear)="markAsRead(n.id)"
					></dm-notification>
				</li>
			</ul>
			<ng-template #noNotifications><div class="user-menu__empty">You have no notifications</div></ng-template>
		</dm-popover>
	</div>

	<div class="user-menu__section">
		<dm-popover
			*ngIf="user"
			triggerLabel="{{ user.username ? user.username : 'Profile' }}"
			triggerIcon="user"
			identifier="user-profile"
		>
			<ul class="user-menu__list">
				<li class="user-menu__item">
					<a href="#" class="user-menu__link" (click)="showUserForm($event)">My profile</a>
				</li>
				<li class="user-menu__item">
					<a id="user-menu-change-password" href="#" class="user-menu__link" (click)="changePassword($event)"
						>Change password</a
					>
				</li>
				<li class="user-menu__item">
					<a id="user-menu-settings" href="#" class="user-menu__link" (click)="notificationSettings($event)"
						>Notification settings</a
					>
				</li>
				<li *ngIf="settingsEnabled" class="user-menu__item">
					<a id="user-menu-admin-settings" href="#" class="user-menu__link" (click)="settings($event)"
						>Settings</a
					>
				</li>
				<li class="user-menu__item">
					<a id="user-menu-logout" class="user-menu__link" href="" (click)="logout($event)">Logout</a>
				</li>
			</ul>
		</dm-popover>
	</div>
</div>
<ngx-smart-modal
	id="view-user-profile"
	[identifier]="'viewUserModal'"
	[closable]="false"
	[escapable]="false"
	[dismissable]="false"
	customClass="nsm-dialog-animation-fade nsm-dialog-narrow"
>
	<dm-user-edit id="user-edit-dialog" myProfile="true"></dm-user-edit>
</ngx-smart-modal>
