@import 'src/app/shared/styles/variables/variables';
@import 'src/app/shared/styles/functions/functions';

:host {
	display: block;
	border-top: 1px solid $mist-light;
	padding-top: $spacing-sm;
	margin-top: $spacing-sm-withborder;

	&:first-of-type {
		border-top: 0 none;
		padding-top: 0;
		margin-top: 0;
	}
}
.summary {
	display: flex;
	font-size: rem(15);
	line-height: $line-height-15;
	&__id {
		flex-shrink: 0;
		margin-right: $spacing-md;
		flex-basis: 3.5rem;
	}
	&__content {
		flex-grow: 1;
	}
	&__title {
		font-size: rem(15);
		line-height: $line-height-15;
		margin: 0;
	}
	&__description {
	}
	&__dates {
		flex-grow: 1;
		padding-right: $spacing-sm;
	}
	&__dates-severity {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: wrap;
	}
}
