<div id="{{resource}}-table" class="table__container">
	<div class="table__loading" *ngIf="loading">
		<div class="sr-only">Loading {{resource}}s &hellip;</div>
	</div>
	<ag-grid-angular
		style="width:100%; height: 100%; overflow: auto"
		class="ag-theme-material"
		[rowData]="loading ? null : rowData"
		[columnDefs]="processedColumnDefs"
		[suppressHorizontalScroll]=false
		[gridOptions]="gridOptions"
		rowSelection="single"
		(gridReady)="onGridReady($event)"
		(gridSizeChanged)="onGridSizeChanged()"
		[defaultColDef]="defaultColumnDef"
		(columnResized)="onColumnResized()"
		(rowClicked)="onRowClicked($event)"
>
	</ag-grid-angular>
</div>
