<ngx-smart-modal
	id="reset-password-modal"
	[identifier]="'resetPasswordModal'"
	[closable]="false"
	[escapable]="false"
	[dismissable]="false"
	[autostart]="true"
	customClass="nsm-dialog-animation-fade nsm-dialog-narrow"
>
	<ng-container id="reset-password-form-container">
		<h2>Reset password</h2>
		<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
			<div class="form__group" [ngClass]="{ 'form__group--error': hasError('password') }">
				<label class="form__label" for="reset-password-password">Password:</label>
				<input id="reset-password-password" class="form__control" type="password" formControlName="password" />
				<div *ngIf="hasError('password')" class="form__validation">
					<div *ngIf="password.errors.required" class="form__feedback form__feedback--error">
						Password is required
					</div>
				</div>
			</div>
			<div
				class="form__group"
				[ngClass]="{
					'form__group--error':
						hasError('confirmPassword') ||
						(formSubmitted && resetPasswordForm.errors?.confirmPasswordMisMatch)
				}"
			>
				<label class="form__label" for="reset-password-confirm">Confirm:</label>
				<input
					id="reset-password-confirm"
					class="form__control"
					type="password"
					formControlName="confirmPassword"
				/>
				<div
					*ngIf="
						hasError('confirmPassword') ||
						(formSubmitted && resetPasswordForm.errors?.confirmPasswordMisMatch)
					"
					class="form__validation"
				>
					<div
						*ngIf="confirmPassword.invalid && confirmPassword.errors.required"
						class="form__feedback form__feedback--error"
					>
						Password confirm your password
					</div>
					<div
						*ngIf="resetPasswordForm.errors?.confirmPasswordMisMatch"
						class="form__feedback form__feedback--error"
					>
						Passwords do not match
					</div>
				</div>
			</div>
		</form>
		<dm-banner *ngIf="usersService.errors$ | async as errors; else success" appearance="error">{{
			errors
		}}</dm-banner>
		<ng-template #success>
			<dm-banner *ngIf="usersService.serverResponse$ | async" appearance="success">
				<span>Password has been reset.</span>
			</dm-banner>
		</ng-template>
		<div class="form__actions">
			<dm-button-group justify="right">
				<dm-button btnId="reset-password-modal-cancel" (onClick)="this.onClose()">Close</dm-button>
				<dm-button appearance="primary" id="reset-password-modal-submit" (onClick)="onSubmit()"
					>Submit
				</dm-button>
			</dm-button-group>
		</div>
	</ng-container>
</ngx-smart-modal>
