<ngx-smart-modal
	id="forgot-password-modal"
	[identifier]="'forgotPasswordModal'"
	[closable]="false"
	[escapable]="false"
	[dismissable]="false"
	[autostart]="true"
	customClass="nsm-dialog-animation-fade nsm-dialog-narrow"
>
	<div id="forgot-password-form-container" class="form">
		<h2>Forgotten password</h2>
		<p>Enter the email address you use to sign in, and we’ll send you a link to reset your password.</p>
		<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
			<div class="form__group" [ngClass]="{ 'form__group--error': hasError('email') }">
				<label class="form__label" for="forgot-password-email">Email:</label>
				<input id="forgot-password-email" class="form__control" type="text" formControlName="email" />
				<div *ngIf="hasError('email')" class="form__validation">
					<div *ngIf="email.errors.required" class="form__feedback form__feedback--error">
						Email is required
					</div>
					<div *ngIf="email.errors.email" class="form__feedback form__feedback--error">
						Please enter a valid email.
					</div>
				</div>
			</div>
		</form>
		<dm-banner *ngIf="formSubmitted && forgotPasswordForm.valid" appearance="success">
			{{ message }}
		</dm-banner>
		<div class="form__actions">
			<dm-button-group justify="right">
				<dm-button btnId="reset-password-modal-cancel" (onClick)="this.onClose()">Close</dm-button>
				<dm-button appearance="primary" btnId="reset-password-modal-submit" (onClick)="onSubmit()"
					>Submit
				</dm-button>
			</dm-button-group>
		</div>
	</div>
</ngx-smart-modal>
