<ngx-smart-modal
	id="password-modal"
	[identifier]="'passwordModal'"
	[closable]="false"
	[escapable]="false"
	[dismissable]="false"
	[autostart]="true"
	customClass="nsm-dialog-animation-fade nsm-dialog-narrow"
>
	<ng-container id="password-form-container">
		<h2>Change password</h2>
		<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
			<div class="form__group" [ngClass]="{ 'form__group--error': hasError('currentPassword') }">
				<label class="form__label" for="current-password">Current password:</label>
				<input id="current-password" class="form__control" type="password" formControlName="currentPassword" />
				<div *ngIf="hasError('currentPassword')" class="form__validation">
					<div *ngIf="currentPassword.errors.required" class="form__feedback form__feedback--error">
						Password is required
					</div>
				</div>
			</div>
			<div class="form__group" [ngClass]="{ 'form__group--error': hasError('password') }">
				<label class="form__label" for="password">Password:</label>
				<input id="password" class="form__control" type="password" formControlName="password" />
				<div *ngIf="hasError('password')" class="form__validation">
					<div *ngIf="password.errors.required" class="form__feedback form__feedback--error">
						Password is required
					</div>
				</div>
			</div>
			<div
				class="form__group"
				[ngClass]="{
					'form__group--error':
						hasError('confirmPassword') || (formSubmitted && passwordForm.errors?.confirmPasswordMisMatch)
				}"
			>
				<label class="form__label" for="confirm-password">Confirm Password:</label>
				<input id="confirm-password" class="form__control" type="password" formControlName="confirmPassword" />
				<div
					*ngIf="
						hasError('confirmPassword') || (formSubmitted && passwordForm.errors?.confirmPasswordMisMatch)
					"
					class="form__validation"
				>
					<div
						*ngIf="confirmPassword.invalid && confirmPassword.errors.required"
						class="form__feedback form__feedback--error"
					>
						Please confirm your password
					</div>
					<div
						*ngIf="passwordForm.errors?.confirmPasswordMisMatch"
						class="form__feedback form__feedback--error"
					>
						Passwords do not match
					</div>
				</div>
			</div>
		</form>
		<dm-banner *ngIf="usersService.errors$ | async as errors; else success" appearance="error">{{
			errors
		}}</dm-banner>
		<ng-template #success>
			<dm-banner *ngIf="usersService.serverResponse$ | async" appearance="success">
				Change password successful.
			</dm-banner>
		</ng-template>
		<div class="form__actions">
			<dm-button-group justify="right">
				<dm-button btnId="password-change-modal-cancel" (onClick)="this.onClose()">Close</dm-button>
				<dm-button appearance="primary" id="password-change-modal-submit" (onClick)="onSubmit()"
					>Submit
				</dm-button>
			</dm-button-group>
		</div>
	</ng-container>
</ngx-smart-modal>
